.logo {
  width: 65px;
  height: 38px;
  background-image: url("../graphics/logo.png");
  border-radius: 6px;
  margin: 16px 16px 16px 0;
  float: left;
}

.logo2 {
  width: 61px;
  height: 30px;
  margin: 23px 16px 10px -5px;
  background-image: url("../graphics/logo2.png");
  float: left;
}

.footerWords {
  text-align: center;
  color: #ffffff;
}

.login_and_register {
  text-align: center;
  color: #666666;
  margin: 12px 4px 16px 16px;
  float: right;
  font-size: 14px;
}

.login_and_register:hover {
  color: #666666;
  text-decoration: underline;
  cursor: pointer;
}

.link, .link:hover {
  color: #666666;
}
